{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <p />
  <ul>
    {{ range .Paginator.Pages }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <span style="margin-left: 1em; font-size: 0.8em;">@ {{ .Date.Format "2006-01-02" }}</span>
      </li>
    {{ end }}
  </ul>

  {{ $pag := .Paginator }}
  <div style="margin-left: 1em;">
    {{ if $pag.HasPrev }}
      <a href="{{ $pag.Prev.URL }}">«</a>
    {{ end }}

    {{ range $pag.Pagers }}
      {{ if eq .PageNumber $pag.PageNumber }}
        <a href="{{ .URL }}" style="font-weight: bold;">{{ .PageNumber }}</a>
      {{ else }}
        <a href="{{ .URL }}">{{ .PageNumber }}</a>
      {{ end }}
    {{ end }}

    {{ if $pag.HasNext }}
      <a href="{{ $pag.Next.URL }}">»</a>
    {{ end }}
  </div>
{{ end }}


{{define "aside" }}
    {{ if .Params.description }}<p>{{ .Params.description }}</p>{{ end }}
{{ end }}